* {
  padding: 0;
  margin: 0;
}

header > img {
  width: 100%;
  height: auto;
}
nav {
  background-color: rgb(230, 200, 255);
  margin: 0;
}
ul {
  list-style: none;
  padding: 10px;
  float: left;
  padding-left: 50px;
}

li {
  font-size: 20px;
  padding-top: 25px;
}

a {
  text-decoration: none;
  color: black;
}

#JuanPortada {
  height: 300px;
  width: auto;
  position: relative;
  left: 970px;
  padding: 5px;
}

main {
  background-color: rgb(200, 255, 255);
}

footer {
  background-color: rgb(230, 200, 255);
  clear: both;
  padding-top: 20px;
  text-align: center;
}
