main h1 {
  background-color: rgb(200, 255, 255);
  padding-left: 10px;
  padding: 10px;
}

main p {
  background-color: rgb(200, 255, 255);
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}

main div {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 200, 255)
}

main img {
  width: 400px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}