*{
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-0 {display:none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    /* Common */
    header {height: 11vh;}
    #banner{
        height: 80px;
        width: 80px;
    }
    footer{height: 6vh;}
    ul {
        list-style-type: none;
        padding-top: 30px;
    }
    li a {
        font-size: 15px;
        padding: 3px;
        background-color: rgb(255, 200, 255);
        border: 1px solid rgb(0, 220, 255);
        text-decoration: none;
    }

    /* Index */
    article {height: 32vh;}
    section {height: 50vh;}
    section img{
        margin-left: 20px;
        margin-top: 25px;
      }
    
    /* General */
    #H1General{height: 7vh;}
    
    #DivGeneral{height: 60vh;}

    #P1General{height: 20vh;}

    #P2General{height: 7vh;}

    #P3General{height: 14vh;}

    #P4General{height: 9vh;}
 
    /* Fotos */
    #Esland{
        height: 305px;
        background-color: rgb(200, 255, 255);
    }

    #ImgEsland{height: 300px;}

    #JuanMasi{
        height: 255px;
        background-color: rgb(255, 200, 255);
    }

    #ImgJuanMasi{
        height: 250px;
        width: 400px;
    }

    #JuanAndres{
        height: 305px;
        background-color: rgb(200, 255, 255);
    }

    #ImgJuanAndres {
        height: 300px;
        width: auto;
    }

    #Ohana{background-color: rgb(255, 200, 255);}

    #ImgOhana {
        height: 350px;
        width: auto;
      }

    #Camionero{background-color: rgb(200, 255, 255);}

    #SWAT{background-color: rgb(255, 200, 255);}

    #ImgSWAT {
        height: 300px;
      }

    /* Videos */
    #MainVideos {height: 82vh;}

    #IframeVideos{
        margin-top: 100px;
        height: 300px;
        width: 450px;
    }

    /* Agenda */
    #MainAgenda {height: 82vh;}

    #H2Agenda{
        padding-top: 10px;
        padding-left: 10px;
    }

    #DivAgenda{
        display: flex;
        justify-content: center;
    }

    #Calendari{
        margin-top: 100px;
        height: 350px;
        width: 450px;
    }

    /* Contacte */
    #MainContacte{
        height: 82vh;
    }
    
    #PContacte{height: 8vh;}

    #DivContacte{height: 60vh;}

    #IframeContacte{
        height: 300px;
        width: 400px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    /* Common */
    header {height: 12vh;}
    #banner{
        height: 100px;
        width: 100px;
    }
    footer{height: 6vh;}
    ul {
        list-style-type: none;
        padding-top: 40px;
        display: flex;
        justify-content: center;
      }
    li {
        padding-left: 4px;
    }
    li a {
        font-size: 15px;
        padding: 8px;
        background-color: rgb(255, 200, 255);
        border: 1px solid rgb(0, 220, 255);
        text-decoration: none;
      }

    /* Index */
    article {height: 30vh;}
    article h3{
        font-size: 22px;
    }
    article p {
        font-size: 17px;
    }
    section {height: 50vh;}
    section h2 {padding-top: 5px;}
    section img{
        margin-left: 60px;
        margin-top: 25px;
      }

    /* General */


    /* Fotos */
    #Esland{
        height: 305px;
        background-color: rgb(200, 255, 255);
    }

    #ImgEsland{height: 300px;}

    #JuanMasi{
        height: 255px;
        background-color: rgb(255, 200, 255);
    }

    #ImgJuanMasi{
        height: 250px;
        width: 400px;
    }

    #JuanAndres{
        height: 305px;
        background-color: rgb(200, 255, 255);
    }

    #ImgJuanAndres {
        height: 300px;
        width: auto;
    }

    #Ohana{background-color: rgb(255, 200, 255);}

    #ImgOhana {
        height: 350px;
        width: auto;
      }

    #Camionero{background-color: rgb(200, 255, 255);}

    #SWAT{background-color: rgb(255, 200, 255);}

    #ImgSWAT {
        height: 300px;
      }

    /* Videos */
    #MainVideos {height: 80vh;}

    #IframeVideos{
        margin-top: 100px;
        height: 300px;
        width: 450px;
    }

    /* Agenda */
    #MainAgenda {height: 80vh;}

    #H2Agenda{
        padding-top: 10px;
        padding-left: 10px;
    }

    #DivAgenda{
        display: flex;
        justify-content: center;
    }

    #Calendari{
        margin-top: 100px;
        height: 350px;
        width: 450px;
    }

    /* Contacte */
    #MainContacte{height: 80vh;}
    
    #PContacte{
        height: 8vh;
        font-size: 20px;
    }

    #DivContacte{height: 60vh;}

    #IframeContacte{
        height: 300px;
        width: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    /* Common */
    header {height: 12vh;}
    #banner {
        height: 120px;
        width: 120px;
    }
    footer{height: 6vh;}
    ul {
        list-style-type: none;
        padding-top: 50px;
        display: flex;
        justify-content: center;

    }
    li {
        padding-left: 5px;
    }
    li a {
        font-size: 20px;
        padding: 8px;
        background-color: rgb(255, 200, 255);
        border: 1px solid rgb(0, 220, 255);
        text-decoration: none;
    }

    /* Index */
    article {height: 30vh;}
    article h3{
        font-size: 25px;
    }
    article p {
        font-size: 20px;
    }
    section {height: 50vh;}
    section h2 {padding-top: 5px;}
    section img{
        margin-left: 140px;
        margin-top: 25px;
      }

    /* General */


    /* Fotos */
    #Esland{
        height: 255px;
        background-color: rgb(200, 255, 255);
    }

    #ImgEsland{height: 250px;}

    #JuanMasi{
        height: 255px;
        background-color: rgb(255, 200, 255);
    }

    #ImgJuanMasi{
        height: 250px;
        width: 350px;
    }

    #JuanAndres{
        height: 255px;
        background-color: rgb(200, 255, 255);
    }

    #ImgJuanAndres {
        height: 250px;
        width: auto;
    }

    #Ohana{
        height: 255px;
        background-color: rgb(255, 200, 255);
    }

    #ImgOhana {
        height: 250px;
        width: auto;
    }

    #Camionero{
        height: 255px;
        background-color: rgb(200, 255, 255);
    }

    #ImgCamionero{
        height: 250px;
        width: auto;
    }

    #SWAT{
        height: 255px;
        background-color: rgb(255, 200, 255);
    }

    #ImgSWAT {
        height: 250px;
        width: auto;
      }


    /* Videos */
    #MainVideos {height: 75vh;}

    #IframeVideos{
        margin-top: 50px;
        height: 400px;
        width: 550px;
    }

    /* Agenda */
    #MainAgenda {height: 75vh;}

    #H2Agenda{
        padding-top: 10px;
        padding-left: 10px;
    }

    #DivAgenda{
        display: flex;
        justify-content: center;
    }

    #Calendari{
        margin-top: 15px;
        height: 450px;
        width: 500px;
    }

    /* Contacte */
    #MainContacte{height: 75vh;}
    
    #PContacte{
        height: 8vh;
        font-size: 20px;
    }

    #DivContacte{height: 60vh;}

    #IframeContacte{
        margin-top: 50px;
        height: 450px;
        width: 550px;
    }
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    /* Common */
    header {height: 20vh;}
    #banner{
        height: 145px;
        width: 145px;
    }
    footer{
        height: 8vh;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding-top: 50px;
        display: flex;
        justify-content: center;

    }
    li {
        padding-left: 5px;
    }
    li a {
        font-size: 30px;
        padding: 10px;
        background-color: rgb(255, 200, 255);
        border: 1px solid rgb(0, 220, 255);
        text-decoration: none;
      }

    /* Index */
    article {height: 70vh;}
    article h3{
        font-size: 30px;
    }
    article p {
        font-size: 25px;
    }
    section {height: 70vh;}
    section h2 {
        padding-top: 5px;
        font-size: 25px;
    }
    section img{
        margin-left: 20px;
        margin-top: 65px;
    }

    /* General */
    #H1General{
        height: 7vh;
        font-size: 30px;
    }
    
    #DivGeneral{height: 60vh;}

    #IlloJuanPortada{
        height: 400px;
    }

    #P1General{
        height: 60vh;
        font-size: 25px;
    }

    #P2General{
        height: 5vh;
        font-size: 20px;
    }

    #P3General{
        height: 10vh;
        font-size: 20px;
    }

    #P4General{
        height: 9vh;
        font-size: 20px;
    }

    /* Fotos */

    #MainFotos{
        background-color: rgb(200, 255, 255);
    }

    #Esland{height: 305px;}

    #ImgEsland{height: 300px;}

    #JuanMasi{height: 255px;}

    #ImgJuanMasi{
        height: 250px;
        width: 400px;
    }

    #JuanAndres{height: 305px;}

    #ImgJuanAndres {
        height: 300px;
        width: auto;
    }

    #ImgOhana {
        height: 350px;
        width: auto;
      }

    #ImgSWAT {
        height: 300px;
      }

    /* Videos */
    #MainVideos {height: 72vh;}

    #IframeVideos{
        margin-top: 15px;
        height: 460px;
        width: 950px;
    }

    /* Agenda */
    #MainAgenda {height: 72vh;}

    #H2Agenda{
        padding-top: 10px;
        padding-left: 10px;
    }

    #DivAgenda{
        display: flex;
        justify-content: center;
    }

    #Calendari{
        margin-top: 15px;
        height: 450px;
        width: 500px;
    }

    /* Contacte */
    #DivContacte{height: 60vh;}

    #IframeContacte{
        margin-top: 50px;
        height: 450px;
        width: 550px;
    }

}